extends layout

block layout-content
  h1.Banner Movies
  div
      table.table
        each n in movieshows
          tr
            div
              td #{timeToString(n.time, "HH:mm DD-MM-YYYY")} 
              td #{n.movie.name}
              td
                img(
                    src="data:"+n.movie.image.contentType+";base64,"+n.movie.image.data 
                    width="128" 
                    height="128"
                  )

  //- div.Message
  //-   div.Title
  //-     h3 Making the Best
  //-     h1 Food For Devs
  //-   span.Details Access the WHATABYTE Team Portal
  //- div.NavButtons
  //-   a(href="/user")
  //-       div.NavButton Just dive in!
