extends layout
block layout-content
    h1.Banner Howdy, #{user.name}!
    div.Message
      div.Title
        h1 User Profile

        h5 Name: #{user.name}
        h5 Username: #{user.username}
        h5 Email: #{user.email}
      //- pre.Details=JSON.stringify(user, null, 2)
      div.m-5.d-flex.flex-wrap.align-items-left.justify-content-left
        a(href="/logout")
          div.NavButton Log out
        form(id="deleteUserButton" action=`/users/${user.id}`, method="POST")
          input(type="hidden" name="_method" value="delete")
          a(href="javascript:;" onclick="document.getElementById('deleteUserButton').submit();")
            div.NavButton Delete user
        div(class="m-4")

    h1 Orders
