extends ../layout
block layout-content

    div(class="container")
        div(class="row d-flex justify-content-center")
            div(class="col-md-6")

            div(class="col-md-6")
                h3 Create movie
                form(id="newMovieForm" action="/admin/movies" method="POST" enctype="multipart/form-data")
                    label(for="name") Name
                    input(type="text" name="name")
                    label(for="description") Description
                    textarea.form-control(rows="3" name="description")
                    label(for="image") Image
                    div.mb-4
                        input(type="file" name="image")
                    input(type="hidden" name="_method" value="put")
                    input.btn.btn-primary(type="submit" value="Submit")
    h3 All movies 
    div(class="m-4")
        table(class="table table-striped")
            thead
                tr  
                    th Image
                    th Name 
                    th Description 
                    th Actions
            tbody 
                each n in movies
                    tr 
                        td 
                            img(
                                src="data:"+n.image.contentType+";base64,"+n.image.data 
                                width="128" 
                                height="200"
                            )
                        td #{n.name}
                        td #{n.description}
                            div(class="collapse" id="collapse-"+n.id)
                                div(class="card card-body") 
                                    div.col-md-6
                                    h4 Edit movie
                                    form(id="editMovieForm-"+n.id action="/admin/movies/"+n.id method="POST" enctype="multipart/form-data")
                                        input(type="hidden" name="_method" value="put")

                                        label(for="name") Name
                                        input(type="text" name="name" value=n.name)

                                        label(for="description") Description
                                        textarea.form-control(name="description" rows="3") #{n.description}

                                        label(for="image") Image
                                        div.mb-4
                                            input(type="file" name="image")

                                        input.btn.btn-primary(type="submit" value="Submit")
                        td 
                            div.container
                                div.row.m-1 
                                    button.btn.btn-primary.w-100(type="button" data-toggle="collapse" data-target="#collapse-"+n.id aria-expanded="false" aria-controls="collapse-"+n.id) edit
                                div.row.m-1 
                                    form(id=n.id action="/admin/movies/"+n.id, method="POST")
                                        input(type="hidden" name="_method" value="delete")
                                        input.btn.btn-danger.w-100(type="submit" value="delete")
  
                                        
