extends ../layout
block layout-content

  div(class="m-4")
      table(class="table table-striped")
          thead
            tr  
              th Id
              th Username
              th Name
              th Email  
              th Actions
          tbody 
            each n in users
              tr 
                td 
                  a(href="/admin/users/"+n.id) #{n.id}
                td #{n.username}
                td #{n.name}
                td #{n.email} 

                td 
                  form(id=n.id action="/admin/users/"+n.id, method="POST")
                      input(type="hidden" name="_method" value="delete")
                      input(type="submit" class="btn btn-link" value="delete")
